<div class="navbar"> <!-- Topbar -->
  <div class="navbar-inner">
    <div class="container">                  
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
      </a>

        <div class="nav-collapse">
        <ul class="nav">
	  <li style="list-style-type: none"><span><i class="icon-home"></i><span><a href="http://vslmlmscd1:4000/">Home</a></li>
          <li style="list-style-type: none"><span><i class="icon-user"></i><span><a href="http://vslmlmscd1:4000/about">About</a></li>
	</ul>
        <ul class="nav pull-right">
	  <!-- <li style="list-style-type: none"><a href="/rss.xml"><img src="/images/feed-icon-28x28.png" width="28" height="28" alt="Feed" /></a></li> -->
          <li style="list-style-type: none"><span><i class="icon-rss"></i><span><a href="http://vslmlmscd1:4000/rss.xml">RSS</a></li>
	</ul>
      </div>
    </div>
  </div>
  <div id="bannerHeader"></div>
</div> <!-- End of Topbar -->
